:root {
  --bg-main: #0B0E14;
  --text-primary: #F8FAFC;
  --text-muted: #94A3B8;
  --brand-blue: #3B82F6;
  --glass-bg: rgba(30, 41, 59, 0.6);
  --glass-border: rgba(148,163,184, 0.1);
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 16px 32px;
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    border-radius: 100px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--text-primary);
    letter-spacing: 1px;
}

.logo-icon {
    font-weight: 900;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--text-primary);
}

.btn-nav {
    text-decoration: none;
    background-color: var(--brand-blue);
    color: var(--text-primary);
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.25);
}

.btn-nav:hover {
    background-color: #2563EB;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(59, 130, 246, 0.4);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .navbar {
        width: 85%;
        padding: 12px 20px;;
    }
}