:root {
  --bg-main: #0B0E14;
  --text-primary: #F8FAFC;
  --text-muted: #94A3B8;
  --brand-blue: #3B82F6;
  --glass-bg: rgba(30, 41, 59, 0.6);
  --glass-border: rgba(148,163,184, 0.1);
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 16px 32px;
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    border-radius: 100px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    position: sticky;
    top: 20px;
    z-index: 1000;
}